p {
  background-color: #eee;
  width: 400px;
  text-align: center;
  margin: 10px auto;
  line-height: 1.7;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  border-right: 7px solid red;
  position: relative;
  counter-increment: add;
}
p::before {
  content: counter(add);
  background-color: #f00;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 2.5;
  text-align: center;
  color: white;
  display: block;
  width: 30px;
}
