div {
    width: 400px;
    height: 20px;
    margin: 0 auto;
    background-color:#eee !important;
    border: none !important;
    color: transparent !important;
    position: relative;

}
div::after {
  content: "Elzero";
  position: absolute;
  color: black;
  font-size: 20px;
  font-weight: bold;
  top: 20px;
  left: 45%;

}
