.assign-two {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.assign-two > div {
  background-color: #eee;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.assign-two .pro div {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.assign-two .pro p {
  margin: 10px auto;
}

@media (min-width: 768px) {
  .assign-two > div {
    width: calc(50% - 10px);
  }
  .assign-two .pro div {
    color: #fe1313;
  }
}

@media (min-width: 992px) {
  .assign-two > div {
    width: calc(25% - 10px);
  }
  .assign-two .pro div {
    color: #009688;
  }
}
