div {
    width: 400px;
    height: 400px;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(142, 142, 133);
    background-image: url(../test.png);
}

.assign-3-shape-1 {
    background-repeat: no-repeat;
}

.assign-3-shape-2 {
    background-position: right;
    background-repeat: repeat-y;
}

.assign-3-shape-3 {
    background-position: bottom;
    background-repeat: repeat-x;
}